* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #222;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

a {
  color: #222;
  text-decoration: none;
}

/* --Header Section-- */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  padding: 1em;
  width: 20%;
}

nav a {
  font-size: 0.8rem;
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  height: 20px;
}

#google-menu {
  margin-left: 20px;
  width: 18px;
  height: auto;
}

#google-menu:hover {
  background-color: #e0e0e0;
  border-radius: 50%;
}

#user-photo {
  border-radius: 50%;
  margin-left: 5px;
  width: 32px;
  height: auto;
}

#user-photo:hover {
  border: 3px solid #e0e0e0;
}

/* --Main Section-- */
main {
  text-align: center;
  margin: 1.5em auto 8.5em;
  width: 50%;
}

#search-icon {
  position: relative;
  top: 5px;
  left: 40px;
  opacity: 0.3;
}

#search-bar {
  border: 1px solid #d1d1d1;
  border-radius: 30px;
  margin-top: 1.2em;
  padding: 1em;
  width: 90%;
}

#search-bar:hover {
  box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.1),
    -2px -2px 4px rgba(34, 34, 34, 0.1);
}

.random-btn {
  margin-top: 2em;
}

.random-btn button {
  background-color: #fafafa;
  color: #3d3d3d;
  border-radius: 5px;
  border: none;
  padding: 0.8em 1.2em;
  margin-right: 0.5em;
}

#search-btn:hover,
#mood-btn:hover {
  border: 1px solid #dddddd;
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.1),
    -1px -1px 1px rgba(34, 34, 34, 0.1);
  cursor: pointer;
}

.languages {
  font-size: 0.85rem;
  font-weight: 300;
  margin-top: 2em;
}

.languages > a {
  color: #00008b;
  padding: 0 4px;
}

.languages a:hover {
  text-decoration: underline;
}

/* --Footer Section-- */
footer {
  background-color: #f8f8f8;
}

footer p,
footer a {
  color: #8b8b8b;
  font-size: 0.9rem;
  padding: 0 0.6em;
}

footer a:hover {
  text-decoration: underline;
}

.user-location {
  padding: 0.8em 2em;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em;
  border-top: 1px solid #dfdfdf;
}

.bottom-nav-left {
  margin-left: 1em;
}

.trademark {
  position: relative;
  right: 85px;
}

#carbon-neutral-logo {
  width: 0.8em;
}

.bottom-nav-right {
  margin-right: 1em;
}

/* --Media Queries-- */
@media screen and (max-width: 768px) {
  nav {
    padding: 0.4em 0.8em 0;
    width: 40%;
  }

  main {
    margin: 0.8em auto 2em;
    width: 95%;
  }

  .bottom-nav {
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .trademark {
    position: absolute;
    top: 10px;
    right: 140px;
    margin-top: 15px;
    text-align: center;
  }

  .bottom-nav-left {
    margin-top: 50px;
  }

  .bottom-nav-right {
    margin: 30px 0 10px;
  }
}
